# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.idea
cmake-build-debug
.clangd/
*.exe
*.out
build/
dist/


# C++ and CLion related files
.idea/
cmake-build-debug/
CMakeLists.txt.user
compile_commands.json
*.o
*.a
*.so
*.out
*.exe
*.dll
*.pdb
*.lib
*.exp
*.ilk

# Operating System Files
.DS_Store
Thumbs.db